<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="FireSharp" version="1.1.0" targetFramework="net48" />
  <package id="FireSharp.Serialization.JsonNet" version="1.1.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net48" />
  <package id="ModernUICharts.WPF.Beta" version="0.9.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net48" />
  <package id="Panteam.MetroChart" version="1.0.1" targetFramework="net48" />
  <package id="RestSharp" version="104.4.0" targetFramework="net48" />
</packages>